/*Постоянные классы*/
.container{
    max-width: 1192px;
    padding: 0 10px;
    margin: 0 auto;
}

.body{
    font-weight: 400;
}

.hidden{
    display: none;
}
.show{
    display: block;
}

/*Основная верстка*/

/*Header*/
/*Header banner*/
.header__banner{
  
    background-color: #FF8642;
}
.header__banner-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}
.header__banner-title{
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    margin: 0 auto;
}
.header__banner-close{
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

/*header-menu*/
.header__menu{
    background-color: #F2F3F5;
}
.menu__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.menu__time{
    display: flex;
    align-items: center;
}
.menu__time-work{
    margin-left: 12px;
}
.menu__time-work span{
    font-size: 14px;
    line-height: 20px;
}
.menu__list{
    display: flex;
}
.menu__list-item{
    position: relative;
}
.menu__list-item + .menu__list-item{
    margin-left: 15px;
}
.menu__list-icon{
    margin-left: 3px;
}
.menu__list-link{
    font-size: 14px;
    line-height: 20px;
    color: #505567;
}
.menu__list-link:hover{
    color: #0093A2;
    transition: all .3s;
}
.menu__social{
    display: flex;
    align-items: center;
}
.menu__social-link + .menu__social-link{
    margin-left: 21px;
}
.menu__profil-orders{
    color: inherit;
    display: flex;
    align-items: center;
}
.menu__profil-icon{
    margin-right: 16px;
}
.sub-menu__list{
    position: absolute;
    left: -10px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(34, 42, 70, 0.1);
    border: 1px solid #F2F3F5;
    border-radius: 10px;
    padding: 20px;
    white-space: nowrap;
    margin-top: 5px;
}
.sub-menu__item + .sub-menu__item{
    margin-top: 10px;
}
.menu__list-open{
    transform: rotate(180deg);
    transition: transform .2s cubic-bezier(1,1,0,0);
}
.menu__list-close{
    transform: rotate(180deg);
    transition: transform .2s cubic-bezier(0,0,1,1);
}

/*Header bottom*/
.header__inner{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.header__bottom-search{
    border: none;
    border: 1px solid #D0D2D7;
    border-radius: 60px;
    width: 375px;
    padding: 11px 0px 11px 20px;
    
}
.header__bottom-form{
    position: relative;
}
.header__bottom-search-img{
    position: absolute;
    right: 20px;
    top: 10px;
}